<title> Create Game </title>

<div class="container">
    
    <form>
            <h2>Create Game</h2>
            <hr>
            <fieldset class="fieldset_auto_width">
            <div>
                <input ng-model="game.name" id="GameName" placeholder="Enter Game Name">
                <input ng-model="game.password" id="GamePassword" placeholder="Enter Game Password">
            </div>
            <br/>
            <div>
                <label>Privacy Setting:</label><br> 
                <input type="radio" name="privSetting" value="public" checked>Public</input><br>
                <input type="radio" name="privSetting" value="private">Private</input>  
                
            </div>
            <br>
            <div>
                <label>Number of Players:</label> 
                <input type="number" value="playerNumber" placeholder="Number of Players...">
            </div>
            <br>
            <div>
                <label>Time limit: </label> 
                <input type="number" value="timeLimit" placeholder="Number of Minutes...">
            </div>
            <br>
            <button type="submit" ng-click="createGame(game)" id="submit">Submit</button>
            <button type="submit" ng-click="mainMenu()" id="submit">Cancel</button>
        </fieldset>
    </form>
</div>