<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: black;
        color: white;
    }
    .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
        background-color: red;
        color:black;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: navy;
        color: white;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="friend in friend_list">
                <td>{{friend.avatar}}</td>
                <td>{{friend.username}}</td>
                <td>{{friend.rank}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>