<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row"> 
        <div class="col-md-12">       
            <h2>Current Games:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Game #321</h3>
            <p>this is a fun game</p>
            <span class="group-btn">     
                <button type="submit" ng-click="mainMenu()">back to Main Menu</button> 
           </span>
        </div>
    </div>
</div>