<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row"> 
        <div class="col-md-12">       
            <h2>Welcome, to the Main Menu of Wolfsta</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hand" ng-click="createGame()">
            <h3>Create game</h3>
            <p>stuff</p>
            <span class="group-btn">   
           </span>
        </div>
        <div class="col-md-4 hand" ng-click="joinGame()">
            <h3>Join Game</h3>
            <p>some stuff</p>
        </div>
        <div class="col-md-4 hand" ng-click="tour()">
            <h3>Tournaments</h3>
            <p>some stuff</p>
        </div>
        <div class="col-md-4 hand" ng-click="friendList()">
            <h3> Check Friends</h3>
            <p>Friends list...</p>
        </div> 
    </div>
</div>