<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div>
        <div >
            <div>
            <h4>Welcome, to the Main Menu of </h4>
            <!-- Trigger/Open The Modal -->
            <button id="myBtn">Open Modal</button>

            <!-- The Modal -->
            <div id="friends" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="friend">&times;</span>
                <p>Some text in the Modal..</p>
            </div>
            </div>
    </div>
</div>