<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" ng-controller="tourCtrl">
    
    
    <div class="row"> 
        <div class="col-md-12">       
            <h2>Current Tournaments:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Game #321</h3>
            <p>this is a fun Tournament</p>
        </div>
        <div class="col-md-12 hand" ng-click="joinGame()">
                <h3>Return Home</h3>
            </div>
    </div>

</div>